.navbar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
  top: 0;
  border-radius: 20px;

}

.welcome h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.icon {
  font-size: 22px;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.icon:hover {
  color: #000;
  transform: scale(1.1);
}


.icon::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
.overlay{
    position: fixed;
    max-width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    z-index: 1;
    right: 0;
   animation: fadeup 0.5s ease forwards;

}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(10px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.notification_content{
    display: flex;
    gap: 10px;
    padding: 7px;
}
.username{
   font-size: 15px;
   font-weight: 600;
}

.notification_image,
.notification_data,
.notification_content p {
  margin: 0;
  padding: 0;
}
.details{
    font-size: 14px;
    color: rgba(36, 10, 10, 0.837);
}
.nofification_heading{
    padding: 5px;
    width: 100%;
   
}
.links{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.323);
}
.links a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: 0.4s ease;
   
}
.links a:hover{
      background-color: black;
  color: white;
  transform: translateY(-4px);
  border-radius: 15px;
}
