.sidebarLink {
  color: #000000 !important;
  padding: 12px 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

.sidebarLink:hover {
  background-color: #1c1c1c;
  color: #ffffff !important;
  transform: translateX(4px);
}
