@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main_container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}
.content_wrapper{
  padding: 20px;
}

.content_container {
  flex: 1;
  
  background-color: #f2f2f2;
  height: auto;
  overflow-x: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.complaint_container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: pink;
  transition: all 0.3s ease-in-out ; 
  

}

.complaint_container:hover{
  transform: translateY(-4px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}



.complaint {
  background-color: #fff;
  margin-left: 5px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  
}


.user h3 {
  font-size: clamp(18px, 2vw, 26px);
  font-weight: 600;
  margin-bottom: 4px;
}

.user p {
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}


.date p {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
  text-align: right;
}


.content p {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 15px;
  color: #333;
}

.button {
  margin-top: 15px;
  
  display: flex;
  justify-content: flex-end;
}
.button button {
  background-color: white;
  border: 3px solid #ff7eb9;
  color: #333;
  transition: all 0.3s ease;
  border-radius: 10px;

}

.button button:hover {
  background-color: #ff7eb9;
  border: 3px solid #ff7eb9;
  color: white;
  transform: translateY(-4px);
}
.options{
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(139, 136, 136, 0.363);
}
.options button{
  border-radius: 20px;
  margin: 5px;
  border: none;
  color: black;
  padding: 8px;
  font-size: clamp(13px, 2vw, 15px);
  transition: all 0.3s ease-in-out;
  
}
.options button:hover{
  background-color: black;
  color: white;
  transform: translateY(-4px);
}
.complaint_wrapper{
  padding: 30px;
    overflow-y: auto;
    display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .main_container {
    flex-direction: column;
    padding-top: 60px;
  }

  .complaint {
    padding: 15px;
  }

  .user h3 {
    font-size: clamp(16px, 4vw, 22px);
  }
}
